<div class="grid-row">
  <div class="column">
    <a [routerLink]="['/my-project-setup-page']" (click)="closeDialog()">
      <!-- Update the routerLink -->
      <img
        alt="Description of image"
        class="modal-image"
        width="400"
        height="200"
        [src]="url"
      />
    </a>
  </div>
  <div class="column">
    <h3>Angular</h3>
    <code>
      npm install -g angular/cli<br />
      ng new angular-app<br />
      cd angular-app<br />
      ng serve
    </code>
  </div>
  <div class="column">
    <h3>React</h3>
    <code> Use create-react-app or Next.js </code>
  </div>
</div>
