<div class="grid-row">
  <div class="column">
    <a
      [routerLink]="['/component-life-circle-method-page']"
      (click)="closeDialog()"
    >
      <img
        alt="Description of image"
        class="modal-image"
        src="https://angular.io/assets/images/logos/angular/angular.png"
        width="400"
        height="200"
        priority
      />
    </a>
  </div>
  <div class="column">
    <h3>Angular</h3>
    <pre>
      <code>{{ angularLifecycleCode }}</code>
    </pre>
  </div>
  <div class="column">
    <pre>
      <code>{{ reactClassLifecycleCode }}</code>
    </pre>
  </div>
  <div class="column">
    <pre>
      <code>{{ reactFunctionalLifecycleCode }}</code>
    </pre>
  </div>
</div>
