<div class="grid-row">
  <div class="column">
    <a href="https://example.com/props" target="_blank">
      <img
        alt="Description of image"
        class="modal-image"
        src="https://angular.io/assets/images/logos/angular/angular.png"
        width="400"
        height="200"
        priority
      />
    </a>
  </div>
  <div class="column">
    <h3>Angular</h3>
    <pre>
      <code>{{ angularServiceCode }}</code>
    </pre>
  </div>
  <div class="column">
    <h3>React</h3>
    <pre>
      <code>{{ reactServiceCode }}</code>
    </pre>
  </div>
</div>
