<mat-dialog-content class="modal-grid-container">
  <div>
    <ul>
      <li *ngIf="data.codeExample === 'FormView'">
        <app-projectSetUp></app-projectSetUp>
      </li>
      <li *ngIf="data.codeExample === 'Props'">
        <app-components></app-components>
      </li>
      <li *ngIf="data.codeExample === 'API'">
        <app-templateSyntex></app-templateSyntex>
      </li>
      <li *ngIf="data.codeExample === 'Lifecycle_Methods'">
        <app-lifeCircleMethods></app-lifeCircleMethods>
      </li>
      <li *ngIf="data.codeExample === 'State_Management'">
        <div class="grid-row">
          <div class="column">
            <a href="https://example.com/state-management" target="_blank">
              <img
                alt="Description of image"
                class="modal-image"
                src="https://angular.io/assets/images/logos/angular/angular.png"
                width="400"
                height="200"
                priority
              />
            </a>
          </div>
          <div class="column">
            <h3>Angular</h3>
            <code>
              Angular is a platform for building mobile and desktop web
              applications. It is a full-fledged framework with powerful tools.
            </code>
          </div>
          <div class="column">
            <h3>React</h3>
            <p>
              React is a JavaScript library for building user interfaces. It
              focuses on building UI components and is more flexible in its
              approach.
            </p>
          </div>
        </div>
      </li>
      <li *ngIf="data.codeExample === 'Routing'">
        <div class="grid-row">
          <div class="column">
            <a href="https://example.com/routing" target="_blank">
              <img
                alt="Description of image"
                class="modal-image"
                src="https://angular.io/assets/images/logos/angular/angular.png"
                width="400"
                height="200"
                priority
              />
            </a>
          </div>
          <div class="column">
            <h3>Angular</h3>
            <code>
              Angular is a platform for building mobile and desktop web
              applications. It is a full-fledged framework with powerful tools.
            </code>
          </div>
          <div class="column">
            <h3>React</h3>
            <code>
              React is a JavaScript library for building user interfaces. It
              focuses on building UI components and is more flexible in its
              approach.
            </code>
          </div>
        </div>
      </li>
      <li *ngIf="data.codeExample === 'Services'">
        <div class="grid-row">
          <div class="column">
            <a href="https://example.com/services" target="_blank">
              <img
                alt="Description of image"
                class="modal-image"
                src="https://angular.io/assets/images/logos/angular/angular.png"
                width="400"
                height="200"
                priority
              />
            </a>
          </div>
          <div class="column">
            <h3>Angular</h3>
            <code>
              Angular is a platform for building mobile and desktop web
              applications. It is a full-fledged framework with powerful tools.
            </code>
          </div>
          <div class="column">
            <h3>React</h3>
            <code>
              React is a JavaScript library for building user interfaces. It
              focuses on building UI components and is more flexible in its
              approach.
            </code>
          </div>
        </div>
      </li>
      <li *ngIf="data.codeExample === 'bear'">
        <div class="grid-row">
          <div class="column">
            <a href="https://example.com/bear" target="_blank">
              <img
                alt="Description of image"
                class="modal-image"
                src="https://angular.io/assets/images/logos/angular/angular.png"
                width="400"
                height="200"
                priority
              />
            </a>
          </div>
          <div class="column">
            <h3>Angular</h3>
            <code>
              Angular is a platform for building mobile and desktop web
              applications. It is a full-fledged framework with powerful tools.
            </code>
          </div>
          <div class="column">
            <h3>React</h3>
            <code>
              React is a JavaScript library for building user interfaces. It
              focuses on building UI components and is more flexible in its
              approach.
            </code>
          </div>
        </div>
      </li>
      <li *ngIf="data.codeExample === 'Hooks'">
        <div class="grid-row">
          <div class="column">
            <a href="https://example.com/hooks" target="_blank">
              <img
                alt="Description of image"
                class="modal-image"
                src="https://angular.io/assets/images/logos/angular/angular.png"
                width="400"
                height="200"
                priority
              />
            </a>
          </div>
          <div class="column">
            <h3>Angular</h3>
            <code>
              Angular is a platform for building mobile and desktop web
              applications. It is a full-fledged framework with powerful tools.
            </code>
          </div>
          <div class="column">
            <h3>React</h3>
            <code>
              React is a JavaScript library for building user interfaces. It
              focuses on building UI components and is more flexible in its
              approach.
            </code>
          </div>
        </div>
      </li>
    </ul>
  </div>
</mat-dialog-content>
