<mat-dialog-content class="modal-grid-container">
  <!-- <div class="grid-row">
    <p>React To Angular Cheat Sheet Overview:</p>
  </div> -->

  <!-- Second row of the grid with the list -->
  <div>
    <ul>
      <li *ngIf="data.codeExample === 'FormView'">
        <div class="grid-row">
          <div class="column">
            <img
              src="path/to/your/image.jpg"
              alt="Description of image"
              class="modal-image"
            />
          </div>
          <div class="column">
            <h3>Angular</h3>
            <p>
              Angular is a platform for building mobile and desktop web
              applications. It is a full-fledged framework with powerful tools.
            </p>
          </div>
          <div class="column">
            <h3>React</h3>
            <p>
              React is a JavaScript library for building user interfaces. It
              focuses on building UI components and is more flexible in its
              approach.
            </p>
          </div>
        </div>
      </li>
      <li *ngIf="data.codeExample === 'Props'">
        <div class="grid-row">
          <div class="column">
            <img
              src="path/to/your/image.jpg"
              alt="Description of image"
              class="modal-image"
            />
          </div>
          <div class="column">
            <h3>Angular</h3>
            <p>
              Angular is a platform for building mobile and desktop web
              applications. It is a full-fledged framework with powerful tools.
            </p>
          </div>
          <div class="column">
            <h3>React</h3>
            <p>
              React is a JavaScript library for building user interfaces. It
              focuses on building UI components and is more flexible in its
              approach.
            </p>
          </div>
        </div>
      </li>
      <li *ngIf="data.codeExample === 'API'">
        <div class="grid-row">
          <div class="column">
            <img
              src="path/to/your/image.jpg"
              alt="Description of image"
              class="modal-image"
            />
          </div>
          <div class="column">
            <h3>Angular</h3>
            <p>
              Angular is a platform for building mobile and desktop web
              applications. It is a full-fledged framework with powerful tools.
            </p>
          </div>
          <div class="column">
            <h3>React</h3>
            <p>
              React is a JavaScript library for building user interfaces. It
              focuses on building UI components and is more flexible in its
              approach.
            </p>
          </div>
        </div>
      </li>
      <li *ngIf="data.codeExample === 'Lifecycle_Methods'">
        <div class="grid-row">
          <div class="column">
            <img
              src="path/to/your/image.jpg"
              alt="Description of image"
              class="modal-image"
            />
          </div>
          <div class="column">
            <h3>Angular</h3>
            <p>
              Angular is a platform for building mobile and desktop web
              applications. It is a full-fledged framework with powerful tools.
            </p>
          </div>
          <div class="column">
            <h3>React</h3>
            <p>
              React is a JavaScript library for building user interfaces. It
              focuses on building UI components and is more flexible in its
              approach.
            </p>
          </div>
        </div>
      </li>
      <li *ngIf="data.codeExample === 'State_Management'">
        <div class="grid-row">
          <div class="column">
            <img
              src="path/to/your/image.jpg"
              alt="Description of image"
              class="modal-image"
            />
          </div>
          <div class="column">
            <h3>Angular</h3>
            <p>
              Angular is a platform for building mobile and desktop web
              applications. It is a full-fledged framework with powerful tools.
            </p>
          </div>
          <div class="column">
            <h3>React</h3>
            <p>
              React is a JavaScript library for building user interfaces. It
              focuses on building UI components and is more flexible in its
              approach.
            </p>
          </div>
        </div>
      </li>
      <li *ngIf="data.codeExample === 'Routing'">
        <div class="grid-row">
          <div class="column">
            <img
              src="path/to/your/image.jpg"
              alt="Description of image"
              class="modal-image"
            />
          </div>
          <div class="column">
            <h3>Angular</h3>
            <p>
              Angular is a platform for building mobile and desktop web
              applications. It is a full-fledged framework with powerful tools.
            </p>
          </div>
          <div class="column">
            <h3>React</h3>
            <p>
              React is a JavaScript library for building user interfaces. It
              focuses on building UI components and is more flexible in its
              approach.
            </p>
          </div>
        </div>
      </li>
      <li *ngIf="data.codeExample === 'Services'">
        <div class="grid-row">
          <div class="column">
            <img
              src="path/to/your/image.jpg"
              alt="Description of image"
              class="modal-image"
            />
          </div>
          <div class="column">
            <h3>Angular</h3>
            <p>
              Angular is a platform for building mobile and desktop web
              applications. It is a full-fledged framework with powerful tools.
            </p>
          </div>
          <div class="column">
            <h3>React</h3>
            <p>
              React is a JavaScript library for building user interfaces. It
              focuses on building UI components and is more flexible in its
              approach.
            </p>
          </div>
        </div>
      </li>
      <li *ngIf="data.codeExample === 'bear'">
        <div class="grid-row">
          <div class="column">
            <img
              src="path/to/your/image.jpg"
              alt="Description of image"
              class="modal-image"
            />
          </div>
          <div class="column">
            <h3>Angular</h3>
            <p>
              Angular is a platform for building mobile and desktop web
              applications. It is a full-fledged framework with powerful tools.
            </p>
          </div>
          <div class="column">
            <h3>React</h3>
            <p>
              React is a JavaScript library for building user interfaces. It
              focuses on building UI components and is more flexible in its
              approach.
            </p>
          </div>
        </div>
      </li>
      <li *ngIf="data.codeExample === 'Hooks'">
        <div class="grid-row">
          <div class="column">
            <img
              src="path/to/your/image.jpg"
              alt="Description of image"
              class="modal-image"
            />
          </div>
          <div class="column">
            <h3>Angular</h3>
            <p>
              Angular is a platform for building mobile and desktop web
              applications. It is a full-fledged framework with powerful tools.
            </p>
          </div>
          <div class="column">
            <h3>React</h3>
            <p>
              React is a JavaScript library for building user interfaces. It
              focuses on building UI components and is more flexible in its
              approach.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <!-- New row for differences -->
</mat-dialog-content>
